<h1> WORD COUNT </h1>

<form action="/word_count">
  <div class = "form-group">
    <label for="phrase">Enter a phrase</label>
    <input type="text" name="phrase" class="form-control" placeholder="Phrase">
    <br>
    <label for="word">Enter a word within your phrase</label>
    <input type="text" name="word" class="form-control" placeholder="Word">
  </div>
  <br>
  <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>

<div>
  <h4>Phrase Suggestions</h4>
    <ul>
      <li>How much wood would a wood chuck chuck?</li>
      <li>One fish two fish red fish blue fish</li>
      <li>A friend in need is a friend indeed</li>
      <li>A penny saved is a penny earned</li>
      <li>See no evil, hear no evil, speak no evil</li>
      <li>You can lead a horse to water, but you cannot make it drink</li>
    </ul>
</div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your word appears</h3>
    </div>
      <div class="panel-body">
        <h4><%= @output %> <%= @times %></h4></center>
      </div>
  </div>
